<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Latest articles in Video from Winners and Whiners - Page 41</title>
    
    
    <!-- Open Graph -->
    <meta property="og:title" content="Latest articles in Video from Winners and Whiners - Page 41" />
    
    
    <meta property="og:type"   content="website" />
    <meta property="og:type"   content="Winners and Whiners" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@WinnersWhiners" />
    <script src="../../cdn-cgi/apps/head/FJLiso0zE_56Qth8UkGoCfWPAKw.js"></script><link rel="me" href="https://twitter.com/@WinnersWhiners" >

    <!-- Styles -->
    <link href="https://cdn.sportsadnet.com/winnersandwhiners.com/css/styles.css?id=088dc36306c6220d8b4b" rel="stylesheet" type="text/css">
    
    <link rel="apple-touch-icon" sizes="180x180" href="https://winnersandwhiners.com/favicon/ww-apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://winnersandwhiners.com/favicon/ww-favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://winnersandwhiners.com/favicon/ww-favicon-16x16.png">
    <link rel="manifest" href="../../favicon/winnersandwhiners.com.webmanifest">

    <!-- End Styles -->
    <!-- Scripts -->
    
    <!-- End Scripts -->
    <!-- Tracking & Ads -->
        <script async src="https://powerad.ai/script.js"></script>
    <!-- Header tracking and ads -->
            <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-58830482-3', 'auto');
            ga('send', 'pageview');
        </script>
        <!-- End Google Analytics -->

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-GPMP0DVM41"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-GPMP0DVM41');
        </script>
        <!-- End Google tag (gtag.js) -->
        <!-- End Header tracking and ads -->
    <!-- End Tracking & Ads -->
</head>
<body class="">

<!-- Schema.org -->
<!-- Organization -->
<script type="application/ld+json">{"@context":"https:\/\/schema.org","@type":"Organization","name":"Winners and Whiners","url":"https:\/\/winnersandwhiners.com","logo":{"@type":"ImageObject","url":""},"sameAs":["https:\/\/twitter.com\/WinnersWhiners","https:\/\/www.facebook.com\/winnersandwhiners\/","https:\/\/www.youtube.com\/channel\/UCnRKtRHPt7oX_mu-SJo2tdw"],"telephone":"1-866-514-4333","address":{"@type":"PostalAddress","streetAddress":"722 Dulaney Valley Road #333","addressLocality":"Towson","addressRegion":"MD","addressCountry":"USA"},"email":"service@winnersandwhiners.com"}</script>
<!-- End Schema.org -->

    <!-- Body tracking and ads -->
    <!-- End Body tracking and ads -->

<div id="ww-vue-app" class="wrap access-control">
    <div id="app-status" class="d-none">
        <span v-if="isMounted" :class="'is-mounted'"></span>
        <span v-else :class="'is-not-mounted'"></span>
    </div>
    
    <!-- Start Header Template -->
<div class="container-fluid header">
    <div class="row">
        <div class="container mt-xl-3">
            <div class="row">
                <div class="logo col-auto graphic-device mx-auto mt-3 my-xl-auto ml-xl-0 ">

                    <a href="../../index.html"><div class="graphic">
                    </div></a>
                </div>
                <div class="col-auto mx-auto mt-3 col-lg-auto mt-xl-0 mr-xl-0" id="top-banner">
                    <div class="ad-slot ad-320-50 d-lg-none">
                    </div>
                    <div class="ad-slot ad-728-90 d-none d-lg-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Start Main Menu Template -->
<nav class="navbar navbar-expand-md primary-nav p-0 mt-3 col-12">
    <div class="container">
        <div class="row flex-fill mx-1">
            <button class="navbar-toggler px-2 py-1 mx-2 my-1" type="button" data-toggle="collapse"
                    data-target="#primaryNavExpand" aria-controls="primaryNavExpand" aria-expanded="false"
                    aria-label="Toggle Navigation">
                <span class="d-flex">
                    <i class="fas fa-bars"></i> <span class="text my-auto ml-1">Menu</span>
                </span>
            </button>
            <div id="primaryNavExpand" class="collapse navbar-collapse">
                                                            <div class=" nav-item  ">
                            <span class="d-flex">
                                <a href="../../games/nfl/index.html" class="nav-link flex-fill">NFL</a>
                                                                    <button class="btn-menu toggler d-md-none mr-2" data-toggle="collapse" aria-expanded="false"
                                            data-target="#NFL">
                                    <i class="fas fa-caret-down"></i>
                                    <i class="fas fa-caret-up"></i>
                                    </button>
                                                            </span>
                                                            <div class="dropdown-menu" id="NFL">
                                                                            <a class="dropdown-item "
                                            href="../../games/nfl/index.html">NFL Predictions</a>
                                                                            <a class="dropdown-item "
                                            href="https://freepicks.atswins.com/sao-nfl-hot-pick?banner=ww18-nfl-menu&amp;utm_source=winners&amp;utm_campaign=hotlink-menu&amp;utm_medium=referral">Free Hot Pick</a>
                                                                            <a class="dropdown-item "
                                            href="../nfl.html">News</a>
                                                                    </div>
                                                    </div>
                                        
                                        
                                                                                <div class=" nav-item  ">
                            <span class="d-flex">
                                <a href="../../games/mlb/index.html" class="nav-link flex-fill">MLB</a>
                                                                    <button class="btn-menu toggler d-md-none mr-2" data-toggle="collapse" aria-expanded="false"
                                            data-target="#MLB">
                                    <i class="fas fa-caret-down"></i>
                                    <i class="fas fa-caret-up"></i>
                                    </button>
                                                            </span>
                                                            <div class="dropdown-menu" id="MLB">
                                                                            <a class="dropdown-item "
                                            href="../../games/mlb/index.html">MLB Predictions</a>
                                                                            <a class="dropdown-item "
                                            href="https://freepicks.atswins.com/sao-mlb-hot-pick?banner=ww18-mlb-menu&amp;utm_source=winners&amp;utm_campaign=hotlink-menu&amp;utm_medium=referral">Free Hot Pick</a>
                                                                            <a class="dropdown-item "
                                            href="../mlb.html">News</a>
                                                                    </div>
                                                    </div>
                                        
                                        
                                                                                <div class=" nav-item  ">
                            <span class="d-flex">
                                <a href="https://experts.winnersandwhiners.com" class="nav-link flex-fill">Expert Picks</a>
                                                            </span>
                                                    </div>
                                        
                                        
                                                                                <div class=" nav-item  ">
                            <span class="d-flex">
                                <a href="../../betting.html" class="nav-link flex-fill">Sportsbooks</a>
                                                            </span>
                                                    </div>
                                        
                                        
                                                </div>
            <div class="navbar-social-icons ml-auto">
                                                            <a href="https://discord.gg/cPyU4TJHaM" target="_blank"><i class="fab fa-discord"></i></a>
                                                                                <a href="https://www.tiktok.com/@official_wandw" target="_blank"><i class="fab fa-tiktok"></i></a>
                                                                                <a href="https://twitter.com/WinnersWhiners" target="_blank"><i class="fab fa-twitter"></i></a>
                                                </div>
            <div class="nav-item ml-auto vue-dependent login">
                <div v-if="$store.getters['user/isLoggedIn']" class="nav-link">
                    <a href="../../dashboard.html">
                        <i class="fas fa-list-alt"></i> Dashboard
                    </a> |
                    <a href="../../logout.html">
                        Logout
                    </a>
                </div>
                <div v-else class="nav-link">
                    <a href="../../login.html">
                        <i class="fas fa-user"></i> Login
                    </a> |
                    <a href="../../register.html" class="d-none d-lg-inline">
                        Sign Up Free
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- End Main Menu Template -->
        <!-- Start Sub Menu Template -->
<nav class="navbar navbar-expand-md sub-nav d-flex p-0 col-12">
    <div class="container">
        <div class="row flex-fill m-0">
            <div class="navbar-collapse">
                                                                                                                                                                            </div>
        </div>
    </div>
</nav>
<!-- End Sub Menu Template -->
    </div>
</div>
<!-- End Header Template -->

    <div class="container mt-3 mt-lg-5">
                    <div class="alert alert-info">


    <a class="text-info bubble-click" target="_blank" rel="nofollow" href="https://experts.winnersandwhiners.com/express-checkout/mike-lundins-mnf-top-play-p11470?promo_code=V5YNY74Z"
       data-cat="top-of-page-alert" data-action="click" data-label="Mike L Content Link (9/18)">
        DOMINANT 63% NFL Premium Run From Mike Lundin. Snag Mike&rsquo;s MNF TOP Play For Just $29
    </a>

</div>    </div>


    
    <div class="container articles articles-index">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-6 content overflow-hidden">
                <h1 class="mt-3">News, Updates, & Features</h1>

                                    <ul class="news-item-list show-categories">
                        <li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			2yrs ago -  WinnersAndWhiners
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-video badge-pill bg-secondary text-white mr-2" href="../video.html">Video</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../preview-for-1052020-alds-games-breaking-down-both-playoff-games__ca+3183.html">Preview for 10/5/2020 ALDS Games - Breaking Down Both Playoff Games</a>
			</h3>

		</div>
	<a class="smooth-link" href="../preview-for-1052020-alds-games-breaking-down-both-playoff-games__ca+3183.html">
		<div class="text-ellipsis news-item__content">
			Four division rivals go at it as Round 1 of the ALDS gets underway. We will debate who has the...
		</div>
	</a>
</li><li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			2yrs ago -  WinnersAndWhiners
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-video badge-pill bg-secondary text-white mr-2" href="../video.html">Video</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../predictions-for-nfl-week-4-games-full-board-predictions-with-free-picks-on-every-game__ca+3167.html">Predictions for NFL Week 4 Games: Full Board Predictions With Free Picks On Every Game!</a>
			</h3>

		</div>
	<a class="smooth-link" href="../predictions-for-nfl-week-4-games-full-board-predictions-with-free-picks-on-every-game__ca+3167.html">
		<div class="text-ellipsis news-item__content">
			The Scotts breakdown the entire Sunday NFL card while discussing where the value can be found in each game.
		</div>
	</a>
</li><li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			2yrs ago -  WinnersAndWhiners
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-video badge-pill bg-secondary text-white mr-2" href="../video.html">Video</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../college-football-predictions-for-1032020-scott-scott-share-their-top-3-cfb-plays__ca+3164.html">College Football Predictions for 10/3/2020: Scott &amp; Scott Share Their Top 3 CFB Plays</a>
			</h3>

		</div>
	<a class="smooth-link" href="../college-football-predictions-for-1032020-scott-scott-share-their-top-3-cfb-plays__ca+3164.html">
		<div class="text-ellipsis news-item__content">
			Scott and Scott are tied after three weeks and they go head-to-head again this week as they bring their top...
		</div>
	</a>
</li><li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			2yrs ago -  WinnersAndWhiners
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-video badge-pill bg-secondary text-white mr-2" href="../video.html">Video</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../miami-heat-vs-los-angeles-lakers-nba-finals-game-2-prediction__ca+3163.html">Miami Heat vs. Los Angeles Lakers: NBA Finals Game 2 Prediction</a>
			</h3>

		</div>
	<a class="smooth-link" href="../miami-heat-vs-los-angeles-lakers-nba-finals-game-2-prediction__ca+3163.html">
		<div class="text-ellipsis news-item__content">
			The Lakers dominated game one of this series but Miami has handled adversity well in the postseason. We discuss how...
		</div>
	</a>
</li><li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			2yrs ago -  WinnersAndWhiners
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-video badge-pill bg-secondary text-white mr-2" href="../video.html">Video</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../preview-for-todays-mlb-games-breaking-down-both-of-todays-playoff-games__ca+3162.html">Preview for Today&#039;s MLB Games - Breaking Down Both Of Today&#039;s Playoff Games</a>
			</h3>

		</div>
	<a class="smooth-link" href="../preview-for-todays-mlb-games-breaking-down-both-of-todays-playoff-games__ca+3162.html">
		<div class="text-ellipsis news-item__content">
			With the AL having the day off, the NL will have two games on Friday. We discuss both matchups and...
		</div>
	</a>
</li><li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			2yrs ago -  WinnersAndWhiners
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-video badge-pill bg-secondary text-white mr-2" href="../video.html">Video</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../nfl-prediction-for-thursdays-game-breaking-down-the-broncos-vs-jets-tnf-game__ca+3153.html">NFL Prediction for Thursday&#039;s Game: Breaking Down the Broncos vs Jets TNF Game</a>
			</h3>

		</div>
	<a class="smooth-link" href="../nfl-prediction-for-thursdays-game-breaking-down-the-broncos-vs-jets-tnf-game__ca+3153.html">
		<div class="text-ellipsis news-item__content">
			The 0-3 Broncos square off with the 0-3 Jets. Something has to give and if you're looking for a bold...
		</div>
	</a>
</li><li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			2yrs ago -  WinnersAndWhiners
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-video badge-pill bg-secondary text-white mr-2" href="../video.html">Video</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../preview-for-1012020-mlb-games-breaking-down-the-full-board-of-playoff-games__ca+3152.html">Preview for 10/1/2020 MLB Games - Breaking Down The Full Board Of Playoff Games</a>
			</h3>

		</div>
	<a class="smooth-link" href="../preview-for-1012020-mlb-games-breaking-down-the-full-board-of-playoff-games__ca+3152.html">
		<div class="text-ellipsis news-item__content">
			Only one AL series is going to three games but we've got our eye on the Cardinals and Brewers as...
		</div>
	</a>
</li><li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			2yrs ago -  WinnersAndWhiners
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-video badge-pill bg-secondary text-white mr-2" href="../video.html">Video</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../preview-for-todays-mlb-games-breaking-down-the-full-board-of-playoff-games__ca+3144.html">Preview for Today&#039;s MLB Games - Breaking Down The Full Board of Playoff Games</a>
			</h3>

		</div>
	<a class="smooth-link" href="../preview-for-todays-mlb-games-breaking-down-the-full-board-of-playoff-games__ca+3144.html">
		<div class="text-ellipsis news-item__content">
			The NL plays their first games and we are looking hard at a Reds team that starts Trevor Bauer vs...
		</div>
	</a>
</li><li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			2yrs ago -  WinnersAndWhiners
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-video badge-pill bg-secondary text-white mr-2" href="../video.html">Video</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../preview-of-todays-nba-finals-game-breaking-down-game-1-of-the-miami-heat-vs-los-angeles-lakers-game__ca+3143.html">Preview of Today’s NBA Finals Game - Breaking Down Game 1 Of The Miami Heat vs Los Angeles Lakers Game</a>
			</h3>

		</div>
	<a class="smooth-link" href="../preview-of-todays-nba-finals-game-breaking-down-game-1-of-the-miami-heat-vs-los-angeles-lakers-game__ca+3143.html">
		<div class="text-ellipsis news-item__content">
			The Lakers are a huge favorite in this series but Miami has looked very good in the postseason. We discuss...
		</div>
	</a>
</li><li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			2yrs ago -  WinnersAndWhiners
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-video badge-pill bg-secondary text-white mr-2" href="../video.html">Video</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../preview-for-9292020-mlb-games-scott-and-scott-break-down-the-full-board-of-al-playoff-games__ca+3135.html">Preview for 9/29/2020 MLB Games - Scott and Scott Break Down The Full Board Of AL Playoff Games</a>
			</h3>

		</div>
	<a class="smooth-link" href="../preview-for-9292020-mlb-games-scott-and-scott-break-down-the-full-board-of-al-playoff-games__ca+3135.html">
		<div class="text-ellipsis news-item__content">
			The AL playoffs get underway and we discuss who has the advantage and take an extra-long look at the Bieber...
		</div>
	</a>
</li><li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			2yrs ago -  WinnersAndWhiners
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-video badge-pill bg-secondary text-white mr-2" href="../video.html">Video</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../mlb-future-predictions-scott-scott-break-down-the-mlb-futures-market__ca+3130.html">MLB Future Predictions: Scott &amp; Scott Break Down the MLB Futures Market</a>
			</h3>

		</div>
	<a class="smooth-link" href="../mlb-future-predictions-scott-scott-break-down-the-mlb-futures-market__ca+3130.html">
		<div class="text-ellipsis news-item__content">
			We take a look at the MLB playoffs and share some of our favorite plays, including a couple of longshots...
		</div>
	</a>
</li><li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			2yrs ago -  WinnersAndWhiners
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-video badge-pill bg-secondary text-white mr-2" href="../video.html">Video</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../preview-for-9282020-nfl-mnf-in-depth-analysis-of-chiefs-vs-ravens__ca+3129.html">Preview for 9/28/2020 NFL MNF - In-Depth Analysis of Chiefs vs Ravens.</a>
			</h3>

		</div>
	<a class="smooth-link" href="../preview-for-9282020-nfl-mnf-in-depth-analysis-of-chiefs-vs-ravens__ca+3129.html">
		<div class="text-ellipsis news-item__content">
			This heavyweight battle is the one that everyone has been waiting for. Mahomes and the Chiefs we underdogs just once...
		</div>
	</a>
</li><li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			2yrs ago -  WinnersAndWhiners
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-video badge-pill bg-secondary text-white mr-2" href="../video.html">Video</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../predictions-for-9262020-nfl-games-full-board-predictions-with-free-picks-on-every-game__ca+3112.html">Predictions for 9/26/2020 NFL Games: Full Board Predictions With Free Picks On Every Game!</a>
			</h3>

		</div>
	<a class="smooth-link" href="../predictions-for-9262020-nfl-games-full-board-predictions-with-free-picks-on-every-game__ca+3112.html">
		<div class="text-ellipsis news-item__content">
			The 2-0 Bears meet the 0-2 Falcons. This line smells worse than last year's cheese but Scott and Scott disagree...
		</div>
	</a>
</li><li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			2yrs ago -  WinnersAndWhiners
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-video badge-pill bg-secondary text-white mr-2" href="../video.html">Video</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../mlb-predictions-for-todays-games-full-board-predictions-with-free-picks-on-every-game__ca+3111.html">MLB Predictions for Today&#039;s Games: Full Board Predictions With Free Picks On Every Game!</a>
			</h3>

		</div>
	<a class="smooth-link" href="../mlb-predictions-for-todays-games-full-board-predictions-with-free-picks-on-every-game__ca+3111.html">
		<div class="text-ellipsis news-item__content">
			After a Friday postponement, two disappointing pitchers meet when Porcello and Scherzer square off. But just because they&rsquo;re struggling doesn&rsquo;t...
		</div>
	</a>
</li><li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			2yrs ago -  WinnersAndWhiners
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-video badge-pill bg-secondary text-white mr-2" href="../video.html">Video</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../nba-predictions-for-9262020-game-breaking-down-game-5-of-the-western-conference-finals__ca+3110.html">NBA Predictions for 9/26/2020 Game: Breaking Down Game 5 of the Western Conference Finals</a>
			</h3>

		</div>
	<a class="smooth-link" href="../nba-predictions-for-9262020-game-breaking-down-game-5-of-the-western-conference-finals__ca+3110.html">
		<div class="text-ellipsis news-item__content">
			This one is all about the health of Anthony Davis. Scott and Scott break down how to play this one...
		</div>
	</a>
</li>                    </ul>
                    <nav aria-label="Pagination" class="d-flex">
        <ul class="pagination pagination-secondary mx-auto">
                            <li class="page-item ">
                    <a class="page-link " href="40.html">
                        Previous
                    </a>
                </li>
                            <li class="page-item ">
                    <a class="page-link " href="38.html">
                        38
                    </a>
                </li>
                            <li class="page-item ">
                    <a class="page-link " href="39.html">
                        39
                    </a>
                </li>
                            <li class="page-item ">
                    <a class="page-link " href="40.html">
                        40
                    </a>
                </li>
                            <li class="page-item active">
                    <a class="page-link active" href="41.html">
                        41
                    </a>
                </li>
                            <li class="page-item ">
                    <a class="page-link " href="42.html">
                        42
                    </a>
                </li>
                            <li class="page-item ">
                    <a class="page-link " href="43.html">
                        43
                    </a>
                </li>
                            <li class="page-item ">
                    <a class="page-link " href="44.html">
                        44
                    </a>
                </li>
                            <li class="page-item ">
                    <a class="page-link " href="42.html">
                        Next
                    </a>
                </li>
                    </ul>
    </nav>


                            </div>

            <div class="col-12 col-lg-4 col-xl-6 mt-3 sidebar">
                                                    <div class="p-3 sidebar-card mb-3 ">
    <div class="title">NFL</div>
    <ul class="news-item-list">
        <li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			2d ago -  Ben the Pen
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-us-sports badge-pill bg-secondary text-white mr-2" href="../us-sports.html">US Sports</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../nfl-key-trends-and-injuries-for-week-2__ca+8363.html">NFL Key Trends and Injuries for Week 2</a>
			</h3>

		</div>
	<a class="smooth-link" href="../nfl-key-trends-and-injuries-for-week-2__ca+8363.html">
		<div class="text-ellipsis news-item__content">
			Let&rsquo;s take a look at the latest key injuries and trends as we enter Week 2 of the NFL.
		</div>
	</a>
</li><li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			3d ago -  Ben the Pen
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-us-sports badge-pill bg-secondary text-white mr-2" href="../us-sports.html">US Sports</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../nfl-prop-bets-and-picks-for-thursday__ca+8361.html">NFL Prop Bets and Picks for Thursday</a>
			</h3>

		</div>
	<a class="smooth-link" href="../nfl-prop-bets-and-picks-for-thursday__ca+8361.html">
		<div class="text-ellipsis news-item__content">
			On Monday, Ben hit $440 in the MLB prop bets and +220 with football (despite the Aaron Rodgers injury). Ben...
		</div>
	</a>
</li><li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			5d ago -  Ben the Pen
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-us-sports badge-pill bg-secondary text-white mr-2" href="../us-sports.html">US Sports</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../nfl-week-1-betting-recap__ca+8357.html">NFL Week 1 Betting Recap</a>
			</h3>

		</div>
	<a class="smooth-link" href="../nfl-week-1-betting-recap__ca+8357.html">
		<div class="text-ellipsis news-item__content">
			This was an incredible week for highs and lows when it comes to betting and quarterback injuries. Let&rsquo;s take a...
		</div>
	</a>
</li>    </ul>
        <a href="../nfl.html" class="animated-button read target">View all</a>
    </div>                                    <div class="p-3 sidebar-card mb-3 ">
    <div class="title">Ncaaf</div>
    <ul class="news-item-list">
        <li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			3d ago -  Ben the Pen
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-ncaaf badge-pill bg-secondary text-white mr-2" href="../ncaaf.html">NCAAF</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../college-football-trends-for-week-3__ca+8360.html">College Football Trends for Week 3</a>
			</h3>

		</div>
	<a class="smooth-link" href="../college-football-trends-for-week-3__ca+8360.html">
		<div class="text-ellipsis news-item__content">
			We&rsquo;re gearing up for Week 3 in college football. If you are a trends player, we offer the top trends...
		</div>
	</a>
</li><li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			6d ago -  Ben the Pen
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-ncaaf badge-pill bg-secondary text-white mr-2" href="../ncaaf.html">NCAAF</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../college-football-betting-recap-for-week-2__ca+8353.html">College Football Betting Recap for Week 2</a>
			</h3>

		</div>
	<a class="smooth-link" href="../college-football-betting-recap-for-week-2__ca+8353.html">
		<div class="text-ellipsis news-item__content">
			Let&rsquo;s take a look at some of the interesting things that happened in college football this week, betting-wise, as well...
		</div>
	</a>
</li><li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			6d ago -  Mark Ruelle
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-ncaaf badge-pill bg-secondary text-white mr-2" href="../ncaaf.html">NCAAF</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../top-ten-college-football-teams-as-of-9-11-2023__ca+8351.html">Top Ten College Football Teams as of 9-11-2023</a>
			</h3>

		</div>
	<a class="smooth-link" href="../top-ten-college-football-teams-as-of-9-11-2023__ca+8351.html">
		<div class="text-ellipsis news-item__content">
			On to week three of the college football season and there is already movement in our top ten list. Georgia...
		</div>
	</a>
</li>    </ul>
        <a href="../ncaaf.html" class="animated-button read target">View all</a>
    </div>                                    <div class="p-3 sidebar-card mb-3 ">
    <div class="title">MLB</div>
    <ul class="news-item-list">
        <li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			3d ago -  Ben the Pen
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-us-sports badge-pill bg-secondary text-white mr-2" href="../us-sports.html">US Sports</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../nfl-prop-bets-and-picks-for-thursday__ca+8362.html">NFL Prop Bets and Picks for Thursday</a>
			</h3>

		</div>
	<a class="smooth-link" href="../nfl-prop-bets-and-picks-for-thursday__ca+8362.html">
		<div class="text-ellipsis news-item__content">
			Ben suffered a tough break on Monday with Aaron Rodgers&rsquo; injury having an effect on several prop bets, yet Ben...
		</div>
	</a>
</li><li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			4d ago -  Ben the Pen
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-us-sports badge-pill bg-secondary text-white mr-2" href="../us-sports.html">US Sports</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../mlb-prop-bets-and-picks-for-wednesday__ca+8359.html">MLB Prop Bets and Picks for Wednesday</a>
			</h3>

		</div>
	<a class="smooth-link" href="../mlb-prop-bets-and-picks-for-wednesday__ca+8359.html">
		<div class="text-ellipsis news-item__content">
			A tough break on Monday with Aaron Rodgers&rsquo; injury having an effect on several prop bets, yet Ben still hit...
		</div>
	</a>
</li><li class="news-item">
	<div class="d-flex mb-2">
		<div class="news-item__timestamp">
			5d ago -  Ben the Pen
		</div>
	</div>

		<div class="d-flex">
			<div class="news-item__categories mt-auto">
									<a class="tax-us-sports badge-pill bg-secondary text-white mr-2" href="../us-sports.html">US Sports</a>							</div>

			<h3 class="p-0 text-ellipsis news-item__title m-0">
				<a class="smooth-link" href="../mlb-prop-bets-and-picks-for-tuesday__ca+8358.html">MLB Prop Bets and Picks for Tuesday</a>
			</h3>

		</div>
	<a class="smooth-link" href="../mlb-prop-bets-and-picks-for-tuesday__ca+8358.html">
		<div class="text-ellipsis news-item__content">
			A tough break on Monday with Aaron Rodgers&rsquo; injury having an effect on several prop bets, yet Ben still hit...
		</div>
	</a>
</li>    </ul>
        <a href="../mlb.html" class="animated-button read target">View all</a>
    </div>                                            </div>


        </div>
    </div>



    
    <!-- Start Footer Template -->
<div class="container-fluid footer flush-footer">

    <div class="row">
        <div class="container py-3">
            <div class="row">

                <div class="col-12 col-md-4">
                    <div class="are-you-an-insider graphic-device mx-auto">
                        <div class="graphic">
                        </div>
                    </div>
                    <p>100% free to join! Get Insider's access to exclusive content and updates - more picks, more winners!</p>
                    <a class="btn btn-block btn-secondary" href="../../register.html">Find Out More</a>
                </div>
                <div class="col-12 col-md-4 ml-auto mb-3 mt-3 mt-md-0">
                    <div class="logo graphic-device mx-auto mb-3 ">
                        <div class="graphic">
                        </div>
                    </div>
                    <p>Winners and Whiners is the premier source for the complete analysis, along with actual predictions on every game for every major sport in America – every day!</p>
                    
                    <p class="text-center m-0"><a href="../../about.html">About</a> &bull; <a href="../../contact.html">Contact</a> &bull; <a href="../../legal.html">Legal</a></p>
                    
                    <p class="text-center m-0"><a href="../../legal/contests.html">Contest Official Rules</a></p>

                    <p class="text-center mt-3 mt-lg-5">Gambling problem?<br/>
                        Visit <a href="https://www.ncpgambling.org/">ncpgambling.org</a> and/or call 1-800-522-4700</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row bottom-gutter">
        <div class="col-12 ">
            <p class="small text-center my-3">&copy; 2015-2023, All Rights Reserved - Winners and Whiners</p>
        </div>

        <div class="col-12 d-none d-california-only" id="cppa-notice">
            <p class="small text-center my-3"><a href="../../legal/ccpa.html">CA Do Not Sell My Information</a></p>
        </div>
    </div>
</div>
<!-- End Footer Template -->

</div>

    <!-- Footer tracking and ads -->

    
    <!-- End Footer tracking and ads -->


    <script src="https://cdn.sportsadnet.com/winnersandwhiners.com/js/app-ui.js?id=6ae60c81f9b72e0aff70" type="application/javascript"></script>
    <script src="https://cdn.sportsadnet.com/winnersandwhiners.com/js/app-other.js?id=d0cd1eed63cc366112bc" type="application/javascript"></script>
<script src="https://cdn.sportsadnet.com/winnersandwhiners.com/js/app-core.js?id=fca2cf1fbb6408d012ed" type="application/javascript"></script>


</body>
</html>
